<!-- Mobiscroll JS and CSS Includes -->
<link rel="stylesheet" href="/admin/css/mobiscroll.javascript.min.css">
<script src="/admin/js/mobiscroll.javascript.min.js"></script>
<form action="/admin/updataProduct" method="post" class="needs-validation" novalidate="" onsubmit="return imageCheck()"
    enctype="multipart/form-data">
    <input type="text" name="product_id" id="product_id" hidden>
    <!-- Modal -->
    <div class="modal fade" id="productEdit" tabindex="-1" aria-labelledby="productAddLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add Product Content -->


                    <main class="content">
                        <div class="container-fluid p-0">

                            <h1 class="h3 mb-3">Edit product</h1>

                            <div class="row">
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Title</h5>
                                            <input id="product_name" type="text" name="product_name"
                                                placeholder="Enter product title" class="form-control" value=""
                                                required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Enter Product Name!
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Description</h5>
                                            <textarea class="form-control" id="product_description"
                                                name="product_description" placeholder="type Description..." rows="5"
                                                required cols="33"></textarea>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Enter Product Description!
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Category</h5>
                                            <section class="ftco-section">
                                                <div class="container">

                                                    <div class="row ">
                                                        <div
                                                            class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
                                                            <div class="d-flex text-left align-items-center w-100">
                                                                <label>
                                                                    Select Category:
                                                                    <input mbsc-input
                                                                        id="demo-multiple-edit-select-input"
                                                                        placeholder="Please select..."
                                                                        data-dropdown="true" data-input-style="outline"
                                                                        data-label-style="stacked" data-tags="true" />
                                                                </label>
                                                                <select class="form-control" required
                                                                    id="demo-multiple-edit-select" class="categorylist"
                                                                    name="product_category" multiple>
                                                                </select>


                                                                <%# (categroyName || []).forEach(j=> { %>
                                                                    <!--      <option selected value="<%#j._id %>"><%#j.category %></option> -->
                                                                    <%# }) %>

                                                                        </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>


                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Image</h5>
                                            <div>


                                                <img id="imgView4" src="" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">

                                                <input type="file" class="form-control"  value="" name="product_image"
                                                    onchange="viewImage(event,4)"><br>
                                            </div>
                                            <div>

                                                <img id="imgView5" src="" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    onchange="viewImage(event,5)"><br>
                                            </div>
                                            <div>

                                                <img id="imgView6" src="" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    onchange="viewImage(event,6)"><br>
                                            </div>
                                            <div>

                                                <img id="imgView7" src="" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    src="/images/products_image/1680367510840-1920x1080.jpg"
                                                    onchange="viewImage(event,7)"><br>
                                            </div>

                                            <span style="display: none;" id="uploadImage">Upload image</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Stock</h5>
                                            <input type="number" min="0" id="product_stock" class="form-control"
                                                name="product_stock" placeholder="product stock" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Enter Product Stock!
                                            </div>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Pricing</h5>
                                            <input type="number" min="0" id="product_price" class="form-control"
                                                value="" name="product_price" placeholder="product price" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Enter Product Price!
                                            </div>

                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Size</h5>
                                            <label>
                                                <input type="checkbox" id="size7" class="form-check-input"  name="product_size" value="7">
                                                Size 7
                                              </label>
                                              <label>
                                                <input type="checkbox" id="size8" class="form-check-input"  name="product_size" value="8">
                                                Size 8
                                              </label>
                                              <label>
                                                <input type="checkbox" id="size9" class="form-check-input"  name="product_size" value="9">
                                                Size 9
                                              </label>
                                              <label>
                                                <input type="checkbox" id="size10" class="form-check-input" name="product_size" value="10">
                                                Size 10
                                              </label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                select Product Size!
                                            </div>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Old Pricing</h5>
                                            <input type="number" min="0" id="product_old_price" class="form-control"
                                                name="product_old_price" value="" placeholder="product old price ">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Badge</h5>
                                            <input type="text" id="product_badge" class="form-control"
                                                name="product_badge" value="" placeholder="product badge">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </main>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    mobiscroll.setOptions({
        locale: mobiscroll.localeEn,
        theme: 'ios',
        themeVariant: 'light'
    });

    mobiscroll.select('#demo-multiple-edit-select', {
        inputElement: document.getElementById('demo-multiple-edit-select-input')
    });

</script>

<script>
    function imageCheck() {
        let image = document.getElementById('imgView4').src
        let image1 = document.getElementById('imgView5').src
        let image2 = document.getElementById('imgView6').src
        let image3 = document.getElementById('imgView4').src
     
        if (image == 'http://localhost:3000/images/products_image/undefined' || image1 == 'http://localhost:3000/images/products_image/undefined' || image2 == 'http://localhost:3000/images/products_image/undefined' || image3 == 'http://localhost:3000/images/products_image/undefined') {
            document.getElementById('uploadImage').style.display='block'
            return false
        }
       
        
    }
</script>