<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Layout</h1>

        <div class="row">
            <!-- Head -->
            <div class="col-12">
                <div class="card mt-3 mb-3" style="background-color: #f8f8f8;">
                    <h3 class="card-title">Head</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <div>
                                    <h6 class="card-title ">Head logo</h6>
                                </div>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>


                            </div>

                        </div>
                        <div class="col-4">

                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">

                                <div>
                                    <h6 class="card-title ">Nav item</h6>
                                </div>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>


                        </div>
                        <div class="col-4">

                            <div class="card-body mb-3 border border-dark pencil-div rounded bg-white">
                                <div>
                                    <h6 class="card-title ">Nav (Right)</h6>

                                </div>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- Header -->
            <div class="col-12">
                <div class="card" style="background-color: #f8f8f8;">

                    <h3 class="card-title">Header</h3>
                    <div class="row">

                        <div class="col-6">

                            <div class="card-body bg-white">
                                <h6 class="card-title ">Header(Left)</h6>
                                <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                    <div>
                                        <h6 class="card-title   ">Text</h6>
                                    </div>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                    <h6 class="card-title ">Text</h6>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                    <h6 class="card-title ">Text</h6>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                    <h6 class="card-title ">Button</h6>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-6">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">image</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Main Head -->
            <div class="col-12">
                <div class="card" style="background-color: #f8f8f8;">

                    <h3 class="card-title">Main Head</h3>
                    <div class="col-12">

                        <div class="row">
                            <div class="col-4">
                                <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                    <h6 class="card-title ">Collections</h6>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                    <h6 class="card-title ">Collections</h6>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                    <h6 class="card-title ">Collections</h6>
                                    <div class="pencil">
                                        <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Body -->
            <div class="col-12">
                <div class="card" style="background-color: #f8f8f8;">

                    <h3 class="card-title">Main Body</h3>



                    <div class="row">
                        <div class="col-12">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title text-center">Text</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title text-center">Category</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card-body  mb-3 border border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item Offers</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Item Offers</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card-body border mb-3 border-dark rounded bg-white pencil-div">
                                <h6 class="card-title ">Special Collections</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-9">
                            <div class="card-body border mb-3 border-dark rounded bg-white">
                                <h6 class="card-title ">Special Item</h6>
                                <div class="row">

                                    <div class="col-3">
                                        <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                            <h6 class="card-title ">Item</h6>
                                            <div class="pencil">
                                                <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                            <h6 class="card-title ">Item</h6>
                                            <div class="pencil">
                                                <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                            <h6 class="card-title ">Item</h6>
                                            <div class="pencil">
                                                <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="card-body mb-3 border border-dark rounded bg-white pencil-div">
                                            <h6 class="card-title ">Item</h6>
                                            <div class="pencil">
                                                <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Footer -->

            <div class="col-12">
                <div class="card" style="background-color: #f8f8f8;">
                    <h3 class="card-title">Main Body</h3>
                    <div class="row">


                        <div class="col-12">
                            <div class="card-body mb-3 border border-dark rounded bg-white ">
                                <h6 class="card-title text-center">Services</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-body mb-3 border border-dark rounded bg-white ">
                                <h6 class="card-title text-center">Social Media Posts</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="col-12">
                <div class="card" style="background-color: #f8f8f8;">
                    <h3 class="card-title">Footer</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body mb-3 border border-dark rounded bg-white">
                                <h6 class="card-title text-center">Footer Head</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-body mb-3 border border-dark rounded bg-white">
                                <h6 class="card-title text-center">Footer Body</h6>
                                <div class="pencil">
                                    <a href=""><img src="/admin/img/icons/pencil.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>