<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Mobiscroll JS and CSS Includes -->
<link rel="stylesheet" href="/admin/css/mobiscroll.javascript.min.css">
<script src="/admin/js/mobiscroll.javascript.min.js"></script>

<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />
<style>
    /* Remove increment and decrement buttons from input type number */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<form action="/admin/products" method="post" enctype="multipart/form-data" class="needs-validation" novalidate="">
    <!-- Modal -->
    <div class="modal fade" id="productAdd" tabindex="-1" aria-labelledby="productAddLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">

                    <a href="/admin/products"> <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button></a>
                </div>
                <div class="modal-body">
                    <!-- Add Product Content -->


                    <main class="content">
                        <div class="container-fluid p-0">

                            <h1 class="h3 mb-3">Add new product</h1>

                            <div class="row">
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Title</h5>
                                            <input type="text" class="form-control" name="product_name" placeholder="Enter product title"
                                                required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Product Name!
                                                </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Description</h5>
                                            <textarea id="story" class="form-control" name="product_description"
                                                placeholder="type Description..." rows="5" required cols="33"></textarea>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Product Description!
                                                </div>
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Category</h5>
                                            <section class="ftco-section " >
                                                <div class="container">

                                                    <div class="row ">
                                                        <div
                                                            class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
                                                            <div class="d-flex text-left align-items-center w-100">
                                                                <!--            <strong class="sl">Select Category:</strong> -->


                                                                <label>
                                                                    Select Category:
                                                                    <input mbsc-input id="demo-multiple-select-input"
                                                                        placeholder="Please select..."
                                                                        data-dropdown="true" data-input-style="outline"
                                                                        data-label-style="stacked" data-tags="true" />
                                                                </label>
                                                                <select class="form-control" required id="demo-multiple-select"
                                                                    name="product_category" multiple>

                                                                    <% (categoryView || []).forEach(i=> { %>
                                                                        <option  value="<%=i._id %>">
                                                                            <%=i.category %>
                                                                        </option>
                                                                        <% }) %>
                                                                        
                                                                </select>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>


                                            <!-- <select class="form-select" aria-label="Default select example"
                                                name="product_category" required>
                                                <option value="none" selected disabled hidden>Select
                                                    an Option
                                                </option>
                                                <option value="Women">Women</option>
                                                <option value="Men">Men</option>
                                                <option value="Sports">Sports</option>
                                            </select> -->
                                            <!--       <input type="text" placeholder="product category" name="product_category" required> -->
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Image</h5>
                                            <div>

                                                <img id="imgView" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    onchange="viewImage(event,0)" required><br>
                                            </div>
                                            <div>

                                                <img id="imgView1" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    onchange="viewImage(event,1)" required><br>
                                            </div>
                                            <div>

                                                <img id="imgView2" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    onchange="viewImage(event,2)" required><br>
                                            </div>
                                            <div>

                                                <img id="imgView3" class="pt-3 pb-3" alt=""
                                                    style="width: 100px; height:auto;">
                                                <input type="file" class="form-control" name="product_image"
                                                    onchange="viewImage(event,3)" required><br>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Stock</h5>
                                           <!--  <div class="input-group">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="7" name="product_stock"  class="form-check-input" required>
                                                </div>
                                                <span class="input-group-text ">Size 7</span>
                                                <input type="number" value="0" min="0" name="product_stock" class="form-control" required placeholder="Checkbox">
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Product Stock!
                                                </div>
                                            </div> -->
                                            <input type="number"  min="0" class="form-control" name="product_stock" placeholder="product stock"
                                                required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Product Stock!
                                                </div>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Pricing</h5>
                                            <input type="number" class="form-control" min="0" name="product_price" placeholder="product price"
                                                required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Enter Product Price!
                                                </div>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Size</h5>
                                            <label>
                                                <input type="checkbox" class="form-check-input"  name="product_size" value="7">
                                                Size 7
                                              </label>
                                              <label>
                                                <input type="checkbox" class="form-check-input"  name="product_size" value="8">
                                                Size 8
                                              </label>
                                              <label>
                                                <input type="checkbox" class="form-check-input"  name="product_size" value="9">
                                                Size 9
                                              </label>
                                              <label>
                                                <input type="checkbox" class="form-check-input" name="product_size" value="10">
                                                Size 10
                                              </label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                select Product Size!
                                            </div>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Old Pricing</h5>
                                            <input type="number" min="0" class="form-control" name="product_old_price"
                                                placeholder="product old price ">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Badge</h5>
                                            <input type="text" class="form-control" name="product_badge" placeholder="product badge">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                   
                                </div>




                            </div>



                        </div>
                    </main>


                </div>
                <div class="modal-footer">
                    <a href="/admin/products"><button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button></a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- <script>
    function viewImage(event, index) {

        let images = document.querySelectorAll('.imgView')
        let img = images[index]
        if (event.target.files[0]) {
            img.src = URL.createObjectURL(event.target.files[0])
        }
    }
</script> -->
<!-- <script src="/admin/multi/js/jquery.min.js"></script>
<script src="/admin/multi/js/popper.js"></script>
<script src="/admin/multi/js/bootstrap.min.js"></script>
<script src="/admin/multi/js/bootstrap-multiselect.js"></script>
<script src="/admin/multi/js/main.js"></script> -->


<script>

    mobiscroll.setOptions({
        locale: mobiscroll.localeEn,                                         // Specify language like: locale: mobiscroll.localePl or omit setting to use default
        theme: 'ios',                                                        // Specify theme like: theme: 'ios' or omit setting to use default
        themeVariant: 'light'                                                // More info about themeVariant: https://docs.mobiscroll.com/5-22-3/javascript/select#opt-themeVariant
    });

    mobiscroll.select('#demo-multiple-select', {
        inputElement: document.getElementById('demo-multiple-select-input')  // More info about inputElement: https://docs.mobiscroll.com/5-22-3/javascript/select#opt-inputElement
    });
</script>