<form action="/admin/products" method="post" enctype="multipart/form-data">
    <!-- Modal -->
    <div class="modal fade" id="productAdd" tabindex="-1" aria-labelledby="productAddLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">

                    <a href="/admin/products"> <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button></a>
                </div>
                <div class="modal-body">
                    <!-- Add Product Content -->


                    <main class="content">
                        <div class="container-fluid p-0">

                            <h1 class="h3 mb-3">Add new product</h1>

                            <div class="row">
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Title</h5>
                                            <input type="text" name="product_name" placeholder="Enter product title"
                                                required>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Description</h5>
                                            <!-- ouill -->

                                            <div class="clearfix">
                                                <div id="quill-toolbar">
                                                    <span class="ql-formats">
                                                        <select class="ql-font"></select>
                                                        <select class="ql-size"></select>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button class="ql-bold"></button>
                                                        <button class="ql-italic"></button>
                                                        <button class="ql-underline"></button>
                                                        <button class="ql-strike"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <select class="ql-color"></select>
                                                        <select class="ql-background"></select>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button class="ql-script" value="sub"></button>
                                                        <button class="ql-script" value="super"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button class="ql-header" value="1"></button>
                                                        <button class="ql-header" value="2"></button>
                                                        <button class="ql-blockquote"></button>
                                                        <button class="ql-code-block"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button class="ql-list" value="ordered"></button>
                                                        <button class="ql-list" value="bullet"></button>
                                                        <button class="ql-indent" value="-1"></button>
                                                        <button class="ql-indent" value="+1"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button class="ql-direction" value="rtl"></button>
                                                        <select class="ql-align"></select>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button class="ql-link"></button>
                                                        <button class="ql-image"></button>
                                                        <button class="ql-video"></button>
                                                    </span>
                                                    <span class="ql-formats">

                                                        <button class="ql-clean"></button>
                                                    </span>
                                                </div>
                                                <div id="quill-editor" name="product_description">
                                                </div>
                                            </div>


                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Category</h5>
                                            <!-- <select class="form-select" aria-label="Default select example"
                                                name="product_category" required>
                                                <option value="none" selected disabled hidden>Select
                                                    an Option
                                                </option>
                                                <option value="Women">Women</option>
                                                <option value="Men">Men</option>
                                                <option value="Sports">Sports</option>
                                            </select> -->
                                            <input type="text" placeholder="product category" name="product_category" required>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title mb-0">Product Image</h5>
                                            <img src="/images/products_images/<%=productData._id %>.jpg" id="imgView"
                                                class="pt-3 pb-3" alt="" style="width: 100px; height:auto;">
                                            <input type="file" class="form-control" name="product_image"
                                                onchange="viewImage(event)" required><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Pricing</h5>
                                            <input type="number" name="product_price" placeholder="product price" required> 
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Old Pricing</h5>
                                            <input type="number" name="product_old_price" placeholder="product old price ">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Badge</h5>
                                            <input type="text" name="product_badge" placeholder="product badge">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>

                                
                                    
                               
                            </div>



                        </div>
                    </main>


                </div>
                <div class="modal-footer">
                    <a href="/admin/products"><button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button></a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>
