<section class="section product">
    <div class="container">

        <h2 class="h2 section-title">Sports</h2>

        <ul class="filter-list">

            <li>
                <a href="/products"><button class="filter-btn ">All</button></a>
            </li>

            <li>
                <a href="/men"><button class="filter-btn ">Men</button></a>
            </li>

            <li>
                <a href="/women"><button class="filter-btn ">Women</button></a>
            </li>

            <li>
                <a href="/sports"><button class="filter-btn active">Sports</button></a>
            </li>

        </ul>

        <ul class="product-list">
            <%- include('../users/productCard') %>
        </ul>


    </div>
</section>