<!DOCTYPE html>
<html lang="en">

<head>
	<!--===============================================================================================-->

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">


				<div class="login100-pic js-tilt" data-tilt>
					<img src="/login/images/img-login.png" alt="IMG">

				</div>



		

				 
				<form  id="email-login "  class="login100-form formSubmit validate-form" novalidate="" 
					 >
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" id="email" type="text" required name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" id="password" type="password" required name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

				
						<div id="message" class="text-center  p-t-12">
							<span id="messageDisplay" class="txt1 text-danger">
							</span>

						</div>
							<div style="float: right;">
								<a href="/login" class="txt1 text-primary">instead of an phone</a>
							</div>
						

							<div class="container-login100-form-btn">
								<button   type="submit" class="login100-form-btn">
									Login
								</button>
							</div>
							<div class="text-center p-t-12">
								<span class="txt1">
									Forgot
								</span>
								<a class="txt2" href="/reset_password">
									Password?
								</a>
							</div>


							<div class="text-center p-t-136">
								<a class="txt2" href="/signup">
									Create your Account
									<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
								</a>
							</div>	
				</form>

			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/login/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="/login/js/main.js"></script>

	<script>
		function validateForm() {
			const phoneNumber = document.getElementById("phone").value;
			if(phoneNumber.length>=1){
				const phonePattern = /^\d{10}$/;
			if (!phonePattern.test(phoneNumber)) {
				document.getElementById("error_message").style.display = "block"
				/* alert("Please enter a valid 10-digit phone number"); */
				return false;
			}
			return true;
			}
			
		}
	</script>

	<script>
		let messageElement = document.getElementById('message')
		setTimeout(function () {
			messageElement.style.display = "none";
		}, 5000);
	</script>
<!-- 	<script>
		function toggleLogin() {
			var phoneLogin = document.getElementById("phone-login");
			var emailLogin = document.getElementById("email-login");

			if (phoneLogin.style.display === "none") {
				phoneLogin.style.display = "block";
				emailLogin.style.display = "none";
				
			} else {
				phoneLogin.style.display = "none";
				emailLogin.style.display = "block";
			
			}
		}
	</script>
 -->

 <script>
	const form = document.querySelector('.formSubmit')
	form.addEventListener('submit', (event) => {
		event.preventDefault()

		const email = $('#email').val()
		const password = $('#password').val()
		if (!form.checkValidity()) {
			return
		}
		fetch('/login', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				email,password
			})

		})
			.then(response => {
				return response.json()

			}).then(data => {
				if (data.status === true) {
					window.location.href = "/"
				} else {
					$('#messageDisplay').html(data.message)
					$('#message').attr('hidden',false)
					
					setTimeout(function () {
					
						$('#message').attr('hidden',true)
					}, 5000);
				}

			})
			.catch(error=>{
				console.log(error);
			})

	})
</script>

</body>

</html>