<section class="section product">
    <div class="container">

        <h2 class="h2 section-title">Products</h2>

        <ul class="filter-list">

            <li>
                <a href="/products"><button class="filter-btn  active">All</button></a>
            </li>

            <li>
                <a href="/men"><button class="filter-btn">Men</button></a>
            </li>

            <li>
                <a href="/women"><button class="filter-btn">Women</button></a>
            </li>

            <li>
                <a href="/sports"><button class="filter-btn">Sports</button></a>
            </li>

          <!--   <li>
                <button class="filter-btn">Bata</button>
            </li>

            <li>
                <button class="filter-btn">Apex</button>
            </li> -->

        </ul>

        <ul class="product-list">
      


              
                <%- include('./productCard') %>
              
        </ul>

    </div>
</section>